{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% load static %}

{% block js %}

{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<h1>
    About Us
</h1>
<div class="row">
    <div class="col-2">
        <b>Address</b>
    </div>
    <div class="col">
        In Hong Kong somewhere
    </div>
</div>
<div class="row">
    <div class="col-2">
        <b>Email</b>
    </div>
    <div class="col">
        XXXXX@gmail.com
    </div>
</div>
<div class="row">
    <div class="col-2">
        <b>Phone</b>
    </div>
    <div class="col">
        2711 1xxx
    </div>
</div>
{% endblock %}